@import "tailwindcss";

@layer utilities {
    .scrollbar-hidden::-webkit-scrollbar {
      display: none;
    }
}

.custom-warn-toast svg {
  fill: #ff5733 !important;
}

.custom-warn-progress {
  background: #ff5733 !important;
}

input[type="date"]:focus {
  outline: none;
}
